.cart-ack-modal{
    position: fixed;
    top: 90%;
    margin: 0px 40px;
    width: 96%;
    padding: 0.5rem 3rem;
    background-color: rgba(30, 190, 30, 0.90);
    color: white;
    z-index: 999;
}

@media screen and (max-width:576px){
    .cart-ack-modal{
        padding: 0.5rem 0px;
        margin: auto;
        width: 90%;
    }
}