/* 
.itemImg{
  width: 685px;
  height: 490px;
}

.itemImg img{
  position: absolute;
  display: inline-block;
  object-fit:fill;
  width: 685px;
  height: 490px;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 92%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  div.imgDiv img:hover{
    position: absolute;
    width:216px; 
    height:168px;
    cursor: pointer;
    border: 1px #cccccc solid;
    transition: all ease-out .5s;
  }
  
  .imgDiv:hover{
    position: relative;
    width:200px; 
    height:150px;
  }
  figure {
    display: inline-block;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .newToppings{
    padding: 5px;
    font-variant: inherit;
  }

   */


/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); */

.sub-heading {
  font-family: "Carter One", cursive;
  font-weight: lighter;
  text-transform: capitalize;
}

li{
  cursor: pointer;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  background-color: white;
}
.topsImg{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.topsImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease .5s;
}

.topsImg:hover{
  scale: 1.2;
  cursor: pointer;
}

figure {
  display: inline-block;
  margin: auto;
}

figcaption {
  text-align: center;
}

.yellow-gradient-left {
  background: linear-gradient(to left, #ffffbf, #FFD40A);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(208, 207, 207);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(208, 207, 207);
}